*{
    padding:0;
    margin: 5;
}

.main-container{
    height: 100vh;
    background-color: lightblue;
    color:white;
    display:flex;
    flex-direction: column;
    gap:5px;  
    font-size: 2rem;
}


.header{
    background-color: turquoise;
    flex-grow:1;
   display:flex;
   justify-content: center;
   align-items: center;
    
}

.navigation{
    background-color: mediumseagreen;
   flex-grow: 1;
  
   display:flex;
   justify-content: center;
   align-items: center;
}


.middle{
    display:flex;
    flex-direction: row;
    flex-grow:5;
    gap:10px;
       
    
}

.aside{
    flex-grow: 1;
    background-color: lightgreen;
    display:flex;
   justify-content: center;
   align-items: center;
}

.right{
    flex-grow:2;
    display:flex;
    flex-direction: column;
    gap:10px;
   
}

.content{
    background-color: cornflowerblue;
    flex-grow:1;
    display:flex;
   justify-content: center;
   align-items: center;
}

.section{
    background-color: navy;
    flex-grow:1;
    display:flex;
   justify-content: center;
   align-items: center;
}


.bottom{
    background-color: turquoise;
    flex-grow: 1;
    display:flex;
   justify-content: center;
   align-items: center;
}