*{
    padding:0;
    margin:5;
}

body{
    background-color:lightpink;
    padding-left: 25px;
}
.container{
 
    height: 100vh;
    display:grid;
    grid-template-rows: 100px 500px 100px;
    grid-template-columns: 300px 350px 350px ;
    grid-template-areas: 
    "header header header  "
    "aside article article " 
    "footer footer footer ";
    gap: 10px 10px;
    color: white;
    font-size:2rem;
}

.header{
    background-color: turquoise;
    grid-area: header;
    display:flex;
    align-items: center;
    justify-content: center;
}


.aside{
    background-color:lightseagreen;
    grid-area: aside; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.article{
    background-color:lightcoral;
    grid-area: article; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: row;
    
}

.image{
    background-color: lightgray;
   display: flex;
    text-align: center;
    height: 200px;
    width:200px;  
    align-items: center;
    justify-content: center;
   
   
}

.footer{
    background-color: turquoise;
    grid-area:footer;
    display: flex;
    align-items: center;
    justify-content: center;
}