*{
    padding:0;
    margin:5;
}

.main-container{
    height: 150vh;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.radius{
    border-radius: 10px;
    padding-top: 20px;
}

.one{
    flex-grow: 0.09;
    font-size: 2rem;
    font-weight: bold;
}

.two{ 
    flex-grow:3;
    flex-basis: 400px;
    font-size:1.25rem;
    font-weight: bold;
}

.header{
    border:solid 2px;
    background-color: salmon;
}

.middle-container{
    display:flex;
    flex-direction: row;
    flex-grow:0.20; 
}

.sidebar{
    border:solid 2px;
    background-color: yellow;   
}

.text{
    border:solid 2px;
    background-color:deepskyblue;
    text-align:left;
    text-wrap: wrap;
    padding-right: 20px;
    padding-left: 15px;
}

.ads{
    border:solid 2px;
    background-color: hotpink;
}

.footer{
    border:solid 2px;
    background-color: lightgreen;
}